html {
    font-family: Helvetica;
    background-color: rgb(41, 41, 41);
    color: white;
}

h1 {
    color: #ffffff;
    padding: 2vh;
}

p {
    font-size: 1.5rem;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
